.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Tagline {
  /* Find drivethru food fast. */
  position: absolute;
  width: 381px;
  height: 249px;
  left: 19px;
  top: 260px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;

  color: #2B2B45;
}

.Search-results-box {
  /* Results */
  position: relative;
  width: 357px;
  height: 737px;
}

.Dynamic-Searchbar {
  /* search */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 387px;
  height: 77px;
  left: 27px;
  top: 34px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
